.row
  .col-md-2
    %h2
      = link_to help_path, class: 'btn btn-default btn-xs' do
        =fa_icon 'angle-left'
        = t 'help.back'
      %span.pull-right API
    %hr

    #ul.nav.nav-pills.nav-stacked
      - %w(README appliance_types appliance_configuration_templates appliance_sets appliances virtual_machines user_keys security_proxies security_policies).each do |file|
        = nav_tab :category, file do
          = link_to file.titleize, help_api_file_path(file)
  .col-md-10
    = preserve do
      = markdown File.read(Rails.root.join("doc", "api", "#{@category}.md"))
