= simple_form_for([:admin, @compute_site]) do |f|
  = f.error_notification

  .inputs
    = f.input :site_id, label: 'Site id'
    = f.input :name
    = f.input :location
    = f.input :site_type
    = f.input :technology
    = f.input :http_proxy_url
    = f.input :https_proxy_url
    = f.input :config, as: :text
    = f.input :template_filters, as: :text
    = f.input :wrangler_url
    = f.input :wrangler_username
    = f.input :wrangler_password

  .actions
    = f.button :submit
