%h1 Listing compute sites


%p
  = link_to new_admin_compute_site_path, class: 'btn btn-success btn-xs', title: 'New Compute site' do
    =fa_icon 'plus'
    Add new

%p
  %table.table.table-hover.table-condensed
    %tr
      %th Site
      %th Name
      %th Location
      %th Site type
      %th Technology
      %th Actions

    - @compute_sites.each do |compute_site|
      %tr
        %td= compute_site.site_id
        %td= compute_site.name
        %td= compute_site.location
        %td= compute_site.site_type
        %td= compute_site.technology
        %td
          .btn-group
            = link_to admin_compute_site_path(compute_site),
              class: 'btn btn-success btn-xs', title: 'Show this Compute Site' do
              =fa_icon 'bars'
            = link_to edit_admin_compute_site_path(compute_site),
              class: 'btn btn-warning btn-xs', title: 'Edit this Compute Site' do
              =fa_icon 'edit'
            = link_to admin_compute_site_path(compute_site), method: :delete, :data => { confirm: 'Are you sure?' },
              class: 'btn btn-danger btn-xs', title: 'Remove this Compute Site' do
              =fa_icon 'trash-o'
