%h1
  = t('compute_sites.long_title')
  .pull-right
    = link_to new_admin_compute_site_path,
      class: 'btn btn-success', title: t('compute_sites.new') do
      =icon 'plus'
      = t('add_new')

%p
  %table.table.table-hover.table-condensed
    %tr
      %th
        = t('compute_sites.site')
      %th
        = t('compute_sites.name')
      %th
        = t('compute_sites.location')
      %th
        = t('compute_sites.site_type')
      %th
        = t('compute_sites.technology')
      %th.table-cell-actions
        = t('actions')

    - @compute_sites.each do |compute_site|
      %tr
        %td.table-cell-monospace
          = compute_site.site_id
        %td
          = compute_site.name
        %td
          = compute_site.location
        %td
          = compute_site.site_type
        %td
          = compute_site.technology
        %td.table-cell-actions
          .btn-group
            = link_to admin_compute_site_path(compute_site),
              class: 'btn btn-success btn-xs', title: t('compute_sites.show') do
              =icon 'bars'
            = link_to edit_admin_compute_site_path(compute_site),
              class: 'btn btn-warning btn-xs', title: t('compute_sites.edit') do
              =icon 'edit'
            = link_to admin_compute_site_path(compute_site), method: :delete, data: { confirm: t('are_you_sure_cs') },
              class: 'btn btn-danger btn-xs', title: t('compute_sites.remove') do
              =icon 'trash-o'
