- pmt = @port_mapping_template
%tr(data-port-mapping-template-id="#{pmt.id}")
  %td(colspan=4)
    = simple_form_for [:admin, @appliance_type, @port_mapping_template], remote: true,
        data: {target: '#port-mapping-templates'},
        html: {class: 'form-inline'},
        defaults: {label_html: {class: 'sr-only'}, input_html: {class: 'input-sm'}} do |f|
      - if request[:action] == 'new'
        = f.input :appliance_type_id, as: :hidden, input_html: {value: @appliance_type.id}
      = f.input :service_name
      = f.input :target_port
      = f.input :transport_protocol, include_blank: false
      = f.input :application_protocol, include_blank: false

  %td
    .btn-group.pull-right

      - form_id = (request[:action] == 'new' ? '#new_port_mapping_template' : "#edit_port_mapping_template_#{pmt.id}")

      = button_tag class: 'btn btn-success btn-xs', onclick: "$('#{form_id}').submit()" do
        %i.icon-save
      = link_to admin_appliance_type_port_mapping_templates_path(@appliance_type), remote: true,
          class: 'btn btn-default btn-xs', title: 'Cancel', data: {target: '#port-mapping-templates'} do
        %i.icon-undo
