- pmt = @port_mapping_template
%tr(data-port-mapping-template-id="#{pmt.id}")
  %td(colspan=4)
    = simple_form_for [:admin, @port_mapping_template], remote: true,
        data: {target: '#port-mapping-templates'},
        html: {class: 'form-inline'},
        defaults: {label_html: {class: 'sr-only'}, input_html: {class: 'input-sm'}} do |f|
      = f.input :service_name
      = f.input :target_port
      -# NOTE collections are explicit as otherwise the I18n translation does not work as it should
      = f.input :transport_protocol, include_blank: false, collection: [:tcp, :udp]
      = f.input :application_protocol, include_blank: false, collection: [:http, :https, :http_https, :none]

  %td(colspan=1)
    .btn-group.pull-right
      = button_tag class: 'btn btn-success btn-xs', onclick: "$('#edit_port_mapping_template_#{pmt.id}').submit()" do
        %i.icon-save
      = link_to admin_port_mapping_template_path(pmt), remote: true,
          class: 'btn btn-default btn-xs', title: 'Cancel', data: {target: "tr[data-port-mapping-template-id='#{pmt.id}']"} do
        %i.icon-undo
