- pmts_present = @appliance_type.reload.port_mapping_templates.present?

#port-mapping-templates
  %p
    - if @alert
      .alert.alert-danger
        %span= raw @alert

    - elsif @notice
      .alert.alert-info
        %span= raw @notice

  %p.description
    -# TODO, FIXME: Port mappings section description

  %table.table.table-hover
    %thead
      %tr
        %th(style='width:25%') Service name
        %th(style='width:15%') Target port
        %th(style='width:20%') Transport protocol
        %th(style='width:20%') Application protocol
        %th Actions

    %tbody
      = render partial: 'admin/port_mapping_templates/show', collection: @appliance_type.port_mapping_templates.def_order, as: :pmt

      %tr#new-port-mapping-template

        - unless pmts_present
          %td(colspan='4')
            .alert.alert-warning No Port Mappings defined.

        %td(colspan="#{pmts_present ? '5' : ''}")
          = link_to new_admin_appliance_type_port_mapping_template_path(@appliance_type), remote: true,
              class: 'btn btn-success btn-xs pull-right', title: 'Add', data: {target: '#new-port-mapping-template'} do
            %i.icon-plus
            Add
            = 'first' unless pmts_present


  #endpoints

:javascript
  $('body').on('ajax:success', '[data-target]', function(xhr, data, status) {
    $($(this).attr('data-target')).replaceWith(data);
  });
