- pmt ||= @port_mapping_template

%tr(data-port-mapping-template-id="#{pmt.id}")
  %td= pmt.service_name
  %td= pmt.target_port
  %td= t "enumerize.transport_protocol.#{pmt.transport_protocol}"
  %td= t "enumerize.application_protocol.#{pmt.application_protocol}"
  %td

    = link_to admin_appliance_type_port_mapping_template_endpoints_path(pmt.appliance_type, pmt), remote: true,
        class: 'btn btn-default btn-xs', title: 'Endpoints', data: {target: '#endpoints', role: 'endpoints'} do
      Endpoints

    .btn-group.pull-right

      = link_to edit_admin_appliance_type_port_mapping_template_path(pmt.appliance_type, pmt), remote: true,
          class: 'btn btn-success btn-xs', title: 'Edit', data: {target: "tr[data-port-mapping-template-id='#{pmt.id}']"} do
        %i.icon-edit

      = link_to admin_appliance_type_port_mapping_template_path(pmt.appliance_type, pmt), method: :delete, remote: true,
          class: 'btn btn-danger btn-xs', title: 'Delete', data: {target: '#port-mapping-templates'} do
        %i.icon-trash
