- endpoint ||= @endpoint
- pmt = endpoint.port_mapping_template

%tr(data-endpoint-id="#{endpoint.id}")
  %td= endpoint.description
  %td= t "enumerize.endpoint_type.#{endpoint.endpoint_type}"
  %td

    .btn-group.pull-right

      = link_to [:edit, :admin, pmt.appliance_type, pmt, endpoint], remote: true,
          class: 'btn btn-success btn-xs', title: 'Edit', data: {target: "tr[data-endpoint-id='#{endpoint.id}']"} do
        %i.icon-edit

      = link_to [:admin, pmt.appliance_type, pmt, endpoint], method: :delete, remote: true,
          class: 'btn btn-danger btn-xs', title: 'Delete', data: {target: '#endpoints'} do
        %i.icon-trash
