= simple_form_for([:admin, @virtual_machine_template]) do |f|
  = f.error_notification

  .inputs
    = f.input :compute_site_id, collection: @compute_sites, label: t('virtual_machine_templates.site')
    = f.input :id_at_site, label: t('uuid')
    = f.input :name, label: t('virtual_machine_templates.name')
    = f.input :state, label: t('virtual_machine_templates.state')

  .actions
    .btn-group
      %button.btn.btn-success{id: "action-button",  type: "submit"}
        =fa_icon 'edit'
        = t('save')
    = link_to t('back'), admin_virtual_machine_templates_path, class: 'btn btn-default'
