%h1
  = t('new')
  = t('virtual_machine_templates.long_title_single')

= render 'form'

%p
  .btn-group
    = link_to admin_virtual_machine_templates_path,
      class: 'btn btn-default', title: t('back') do
      =fa_icon 'reply'
      = t('back')
