= simple_form_for [:admin, @appliance_set] do |f|
  = f.error_notification

  .inputs
    = f.input :name
    = f.input :priority
    = f.input :appliance_set_type, disabled: true
    = f.input :user, disabled: true

  %p
    .actions
      = f.submit t('save'), class: 'btn btn-success'
