%h1
  = t('editing')
  = t('appliance_sets.long_title_single')

= render 'form'

%p
  .btn-group
    = link_to [:admin, @appliance_set],
      class: 'btn btn-success', title: t('appliance_sets.show') do
      =icon 'bars'
      = t('show')
    = link_to admin_appliance_sets_path,
      class: 'btn btn-default', title: t('back') do
      =icon 'reply'
      = t('back')
