%h1
  = t('appliance_sets.long_title')

%p
  %table.table.table-hover.table-condensed
    %tr
      %th
        = t('appliance_sets.user')
      %th
        = t('appliance_sets.type')
      %th
        = t('appliance_sets.appliance_type')
      %th
        = t('appliance_sets.virtual_machines')
      %th
        = t('appliance_sets.site')
      %th
        = t('appliance_sets.flavor')
      %th{ :style => "text-align: right; min-width: 8rem;" }
        = t('actions')

    - @appliance_sets.each do |user, sets|
      - sets.each_with_index do |appliance_set, i|
        %tr
          - if i==0
            %td{rowspan: sets.count}= user.login
          %td= appliance_set.appliance_set_type

          - if appliance_set.appliances.present?
            %td
              - appliance_set.appliances.each do |appliance|
                = t('appliance_sets.fund')
                %strong
                  = succeed '.' do
                    = appliance.fund ? appliance.fund.name : t('appliance_sets.no_fund_assigned')
                = t('appliance_sets.amount_billed')
                %strong
                  = number_to_currency(appliance.amount_billed/10000.0, unit: '')
                  = appliance.fund ? appliance.fund.currency_label : '?'
                %br
                - appliance.virtual_machines.each do |virtual_machine|
                  = virtual_machine.appliance_type.name
                  %br
            %td
              - appliance_set.appliances.each do |appliance|
                = t('appliance_sets.billing_state')
                - label_map = {initial: :primary, prepaid: :success, expired: :danger, error: :danger}
                %span(class="label label-#{label_map[appliance.billing_state.to_sym]}")
                  = appliance.billing_state
                &nbsp;
                = t('appliance_sets.state')
                - label_map = {new: :primary, satisfied: :success, unsatisfied: :danger}
                %span(class="label label-#{label_map[appliance.state.to_sym]}")
                  = appliance.state
                %br
                - appliance.virtual_machines.each do |virtual_machine|
                  = virtual_machine.id_at_site
                  %br
            %td
              - appliance_set.appliances.each do |appliance|
                %br
                - appliance.virtual_machines.each do |virtual_machine|
                  = virtual_machine.compute_site.name
                  %br
            %td
              - appliance_set.appliances.each do |appliance|
                %br
                - appliance.virtual_machines.each do |virtual_machine|
                  = virtual_machine.virtual_machine_flavor ? virtual_machine.virtual_machine_flavor.id_at_site : t('appliance_sets.no_flavor')
                  %br
          - else
            %td(colspan='4')
              = t('appliance_sets.no_appliances')

          %td{ :style => "text-align: right" }
            .btn-group
              = link_to [:admin, appliance_set],
                class: 'btn btn-success btn-xs', title: t('appliance_sets.show') do
                =fa_icon 'bars'
              = link_to edit_admin_appliance_set_path(appliance_set),
                class: 'btn btn-warning btn-xs', title: t('appliance_sets.edit') do
                =fa_icon 'edit'
              = link_to [:admin, appliance_set], method: :delete, data: { confirm: t('are_you_sure') },
                class: 'btn btn-danger btn-xs', title: t('appliance_sets.remove') do
                =fa_icon 'trash-o'
