%h1
  = t('show')
  = t('appliance_sets.long_title_single')

%p
  %table.show-table
    %tr
      %td= t('appliance_set.name')
      %td= @appliance_set.name
    %tr
      %td= t('appliance_set.priority')
      %td= @appliance_set.priority
    %tr
      %td= t('appliance_set.appliance_set_type')
      %td= @appliance_set.appliance_set_type
    %tr
      %td= t('appliance_set.user')
      %td= @appliance_set.user

%p
  .btn-group
    = link_to edit_admin_appliance_set_path(@appliance_set),
      class: 'btn btn-warning', title: t('appliance_sets.edit') do
      =icon 'edit'
      = t('edit')
    = link_to admin_appliance_sets_path,
      class: 'btn btn-default', title: t('back') do
      =icon 'reply'
      = t('back')
