.row
  .col-md-2
    %h2
      = link_to help_path, class: 'btn btn-default btn-xs' do
        =icon 'angle-left'
        = t 'help.back'
      %span.pull-right API
    %hr

    #ul.nav.nav-pills.nav-stacked
      - @categories.sort.each do |file|
        = nav_tab :category, file do
          = link_to file.titleize, help_api_file_path(file)
  .col-md-10
    = preserve do
      = markdown File.read(@doc_file)
