%h1
  = t('virtual_machines.long_title')

%ul.nav.nav-tabs
  - @virtual_machines.each_with_index do |kv, i|
    - t = kv.first
    %li{ class: ('active' if i==0) }
      %a(href="##{t.tenant_id}-tab" data-toggle='tab')
        = t.name

%p
  .tab-content
    - @virtual_machines.each_with_index do |kv, i|
      - t, vms = kv
      .tab-pane{ id: "#{t.tenant_id}-tab", class: ("active" if i==0) }
        %table.vm-table
          %th.uuid= t('virtual_machines.uuid')
          %th= t('virtual_machines.name')
          %th= t('virtual_machines.state')
          %th= t('virtual_machines.ip_address')
          %th= t('virtual_machines.appliances')
          %th.actions= t('actions')
          - vms.each do |vm|
            %tr
              %td.monospace= vm.id_at_site
              %td= vm.name
              %td= vm.state
              %td.monospace= vm.ip
              %td= model_collection_to_s vm.appliances
              %td.actions
                .btn-group
                  = link_to admin_virtual_machine_path(vm),
                            class: 'btn btn-success btn-xs',
                            title: t('virtual_machines.show') do
                    =icon 'bars'
                  = link_to reboot_admin_virtual_machine_path(vm),
                            method: :post,
                            class: 'btn btn-warning btn-xs',
                            title: t('virtual_machines.reboot') do
                    =icon 'refresh'
                  = link_to save_as_template_admin_virtual_machine_path(vm),
                            method: :post,
                            class: 'btn btn-success btn-xs',
                            title: t('virtual_machines.save') do
                    =icon 'save'
