%p#notice= notice

%p
  %table.table.table-hover.table-condensed
    %tr
      %td
        %b
          = t('uuid')
      %td{ style: "font-family: monospace;" }
        = @virtual_machine.id_at_site
    %tr
      %td
        %b
          = t('virtual_machines.name')
      %td
        = @virtual_machine.name
    %tr
      %td
        %b
          = t('virtual_machines.state')
      %td
        = @virtual_machine.state
    %tr
      %td
        %b
          = t('virtual_machines.ip_address')
      %td{ style: "font-family: monospace;" }
        = @virtual_machine.ip

%p
  .btn-group
    = link_to admin_virtual_machines_path,
      class: 'btn btn-default', title: t('back') do
      =icon 'reply'
      = t('back')
