%h1
  = t('security_proxies.long_title')

%p
  = link_to new_admin_security_proxy_path,
    class: 'btn btn-success btn-xs', title: t('security_proxies.new') do
    =fa_icon 'plus'
    = t('add_new')

%p
  %table.table.table-hover.table-condensed
    %tr
      %th
        = t('security_proxies.name')
      %th{ :style => "text-align: right" }
        = t('actions')

    - @security_proxies.order('security_proxies.name').each do |security_proxy|
      %tr
        %td= security_proxy.name
        %td{ :style => "text-align: right" }
          .btn-group
            = link_to edit_admin_security_proxy_path(security_proxy),
              class: 'btn btn-warning btn-xs', title: t('security_proxies.edit') do
              =fa_icon 'edit'
            = link_to [:admin, security_proxy], :method => :delete, :data => { :confirm => t('are_you_sure') },
              class: 'btn btn-danger btn-xs', title: t('security_proxies.remove') do
              =fa_icon 'trash-o'
