= simple_form_for([:admin, @virtual_machine]) do |f|
  = f.error_notification

  .inputs
    = f.input :name
    = f.input :virtual_machine_template_id, collection: @virtual_machine_templates
    = f.association :appliances
  .actions
    = f.button :submit
