%p#notice= notice

%p
  %b Id at site:
  = @virtual_machine.id_at_site
%p
  %b Name:
  = @virtual_machine.name
%p
  %b State:
  = @virtual_machine.state
%p
  %b Ip:
  = @virtual_machine.ip

= link_to 'Back', admin_virtual_machines_path
