%h1
  = t('tenants.long_title_single')
  .pull-right
    = link_to new_admin_tenant_path,
      class: 'btn btn-success', title: t('tenants.new') do
      = icon 'plus'
      = t('add_new')

%p
  %table.table.table-hover.table-condensed
    %tr
      %th= t('tenants.tenant')
      %th= t('tenants.name')
      %th= t('tenants.location')
      %th= t('tenants.tenant_type')
      %th= t('tenants.technology')
      %th.actions
        = t('actions')

    - @tenants.each do |tenant|
      %tr
        %td.monospace
          = tenant.tenant_id
        %td= tenant.name
        %td= tenant.location
        %td= tenant.tenant_type
        %td= tenant.technology
        %td.actions
          .btn-group
            = link_to admin_tenant_path(tenant),
              class: 'btn btn-success btn-xs', title: t('tenants.show') do
              =icon 'bars'
            = link_to edit_admin_tenant_path(tenant),
              class: 'btn btn-warning btn-xs', title: t('tenants.edit') do
              =icon 'edit'
            = link_to admin_tenant_path(tenant), method: :delete, data: { confirm: t('are_you_sure_t') },
              class: 'btn btn-danger btn-xs', title: t('tenants.remove') do
              =icon 'trash-o'


%h2
  = t('flavor_os_family.long_title')

%p
  %table.table.table-hover.table-condensed
    %tr
      %th= t('tenants.tenant')
      %th= t('virtual_machine_flavor.flavor_name')
      %th
        .pull-right= t('virtual_machine_flavor.cpu')
      %th
        .pull-right= t('virtual_machine_flavor.memory')
      %th
        .pull-right= t('virtual_machine_flavor.hdd')
      %th
        .pull-right= t('virtual_machine_flavor.supported_architectures')

      = each_os_family do |os_family|
        %th
          .pull-right
            = os_family.name
            = t('flavor_os_family.hourly_cost')

      %th.col-md-2
        .pull-right= t 'actions'


    - @tenants.each do |tenant|
      - tenant.virtual_machine_flavors.each do |flavor|
        %tr
          %td.monospace= tenant.tenant_id
          %td
            - if flavor.active
              = flavor.flavor_name
            - else
              %i.text-muted
                = flavor.flavor_name
                = surround '(',')' do
                  inactive
          %td
            .pull-right= flavor.cpu
          %td
            .pull-right= flavor.memory
          %td
            .pull-right= flavor.hdd
          %td
            .pull-right= flavor.supported_architectures

          = each_os_family do |os_family|
            %td
              .pull-right
                = flavor.get_hourly_cost_for(os_family)

          %td
            .btn-group.pull-right
              = link_to edit_admin_virtual_machine_flavor_path(flavor),
                class: 'btn btn-warning btn-xs has_bottom_tooltip',
                title: t('flavor_os_family.update.help') do
                = icon 'edit'
