%h1
  = t('new')
  = t('tenants.long_title_single')

= render 'form'

%p
  .btn-group
    = link_to admin_compute_sites_path,
      class: 'btn btn-default', title: t('back') do
      =icon 'reply'
      = t('back')
