%p#notice= notice

%h1
  = t('show')
  = t('compute_sites.long_title_single')

%p
  %table.show-table
    %tr
      %td= t('compute_sites.site')
      %td.monospace= @tenant.tenant_id
    %tr
      %td= t('compute_sites.name')
      %td= @tenant.name
    %tr
      %td= t('compute_sites.location')
      %td= @tenant.location
    %tr
      %td= t('compute_sites.site_type')
      %td= @tenant.site_type
    %tr
      %td= t('compute_sites.technology')
      %td= @tenant.technology
    %tr
      %td= t('compute_sites.http_proxy_url')
      %td.monospace= @tenant.http_proxy_url
    %tr
      %td= t('compute_sites.https_proxy_url')
      %td.monospace= @tenant.https_proxy_url
    %tr
      %td= t('compute_sites.configuration')
      %td.monospace= @tenant.config
    %tr
      %td= t('compute_sites.template_filters')
      %td.monospace= @tenant.template_filters
    %tr
      %td= t('compute_sites.wrangler_url')
      %td.monospace= @tenant.wrangler_url
    %tr
      %td= t('compute_sites.wrangler_username')
      %td.monospace= @tenant.wrangler_username
    %tr
      %td= t('compute_sites.wrangler_password')
      %td.monospace= @tenant.wrangler_password

%p
  .btn-group
    = link_to edit_admin_compute_site_path(@tenant),
      class: 'btn btn-warning', title: t('edit') do
      =icon 'bars'
      = t('edit')
    = link_to admin_compute_sites_path,
      class: 'btn btn-default', title: t('back') do
      =icon 'reply'
      = t('back')
