- endpoints_present = @port_mapping_template.reload.endpoints.present?

#endpoints
  %p
    - if @alert
      .alert.alert-danger
        %span= raw @alert

    - elsif @notice
      .alert.alert-info
        %span= raw @notice

  %p.description
    -# TODO, FIXME: Endpoints section description

  %table.table.table-hover
    %thead
      %tr
        %th(style='width:10%') Name
        %th(style='width:30%') Description
        %th(style='width:30%') Descriptor
        %th(style='width:20%') Invocation Path
        %th(style='width:10%') Endpoint Type
        %th
          .pull-right Actions

    %tbody
      = render partial: 'atmosphere/admin/endpoints/show', collection: @port_mapping_template.endpoints.def_order, as: :endpoint

      %tr#new-endpoint

        - unless endpoints_present
          %td(colspan='3')
            .alert.alert-warning No Endpoints defined.

        %td(colspan="#{endpoints_present ? '4' : ''}")
          = link_to [:new, :admin, @port_mapping_template.appliance_type, @port_mapping_template, :endpoint],
              remote: true, class: 'btn btn-success btn-xs pull-right', title: 'Add', data: {target: '#new-endpoint'} do
            =icon 'plus'
            Add
            = 'first' unless endpoints_present

:javascript
  $("a[data-role='endpoints']").removeClass('disabled');
  $("tr[data-port-mapping-template-id='#{@port_mapping_template.id}'] a[data-role='endpoints']").addClass('disabled');
