!!! 5
%html{ lang: 'en'}
  = render 'layouts/atmosphere/head'
  %body
    #wrap
      .proper-content
        = render 'layouts/atmosphere/flash'
        = render 'layouts/atmosphere/navbar'
        .container= yield
      #push
    = render "layouts/atmosphere/footer"
