= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-signin' }) do |f|
  = f.text_field :login, autofocus: true, placeholder: t('devise.login_or_email'), class: 'form-control'
  = f.password_field :password, placeholder: t('devise.password'), class: 'form-control'
  - if devise_mapping.rememberable?
    .clearfix.remember
      %label.checkbox.remember_me
        = f.check_box :remember_me
        %span= t('devise.remember_me')

  %div.login-buttons
    = f.submit t('devise.login'), class: 'btn btn-success'
    .pull-right= link_to t('devise.forgot_your_password'), new_password_path(resource_name), class: 'btn btn-default'