= simple_form_for([:admin, @appliance_type], role: 'form') do |f|
  = f.error_notification

  .inputs
    = f.input :name
    = f.input :description

    .row
      .col-lg-4
        = f.input :visible_to
      .col-lg-4
        = f.association :author
      .col-lg-2
        .text-center
          = f.input :shared
      .col-lg-2
        .text-center
          = f.input :scalable

    .row
      .col-lg-3
        = f.label :preference_cpu
        .input-group
          = f.input_field :preference_cpu
          %span.input-group-addon cores
      .col-lg-3
        = f.label :preference_memory
        .input-group
          = f.input_field :preference_memory
          %span.input-group-addon MB
      .col-lg-3
        = f.label :preference_disk
        .input-group
          = f.input_field :preference_disk
          %span.input-group-addon GB
      .col-lg-3
        = f.association :os_family
