%h1
  = @appliance_type.name
  %small.text-muted
    by
    = @appliance_type.author_name

  .pull-right
    .btn-group(role="at-actions")
      = link_to edit_admin_appliance_type_path(@appliance_type),
                class: 'btn btn-success btn-xs', title: t('edit') do
        = icon 'edit'
        = t('edit')
      = link_to admin_appliance_type_path(@appliance_type),
                method: :delete,
                class: 'btn btn-danger btn-xs',
                title: t('delete'),
                data: { confirm: t('are_you_sure_at') } do
        = icon 'trash-o'
        = t('delete')

  %h5
    - if @appliance_type.visible_to == 'owner'
      %span.label.label-primary
        = t('appliance_types.only_for_owner')
    - elsif @appliance_type.visible_to == 'developer'
      %span.label.label-warning
        = t('appliance_types.only_for_developers')
    - else
      %span.label.label-success
        = t('appliance_types.for_all')
    - if @appliance_type.shared
      %span.label.label-info
        = t('appliance_types.shared')
    - if @appliance_type.scalable
      %span.label.label-info
        = t('appliance_types.scalable')
    - if @appliance_type.preference_cpu
      %span.label.label-primary.dynamic-label
        = t('appliance_types.cpu')
        = @appliance_type.preference_cpu
    - if @appliance_type.preference_memory
      %span.label.label-primary.dynamic-label
        = t('appliance_types.memory')
        = @appliance_type.preference_memory
        = t('size.MB')
    - if @appliance_type.preference_disk
      %span.label.label-primary.dynamic-label
        = t('appliance_types.data')
        = @appliance_type.preference_disk
        = t('size.GB')
    %span.label.label-warning.dynamic-label
      = @appliance_type.os_family.name

%hr
.description
  = markdown @appliance_type.description
