.appliance_types
  .row
    = render 'atmosphere/admin/appliance_types/appliance_types_menu'

    .col-md-9
      #appliance_type

        .edit
          %h4
            Edit Appliance Type:
            = @appliance_type.name
            .pull-right
              %button.btn.btn-success.btn-xs{title: 'Save', id: 'save-appliance-type'}
                =fa_icon 'save'
                = t('save')
              :javascript
                $(function() {
                  $('#save-appliance-type').on('click', function() {
                    $('#edit_appliance_type_#{@appliance_type.id}').submit();
                  });
                });

              = link_to [:admin, @appliance_type], class: 'btn btn-default btn-xs', title: 'Cancel' do
                = t('cancel')
          %hr
          = render partial: 'atmosphere/admin/appliance_types/edit'

        -#%ul.nav.nav-tabs#tabs
        -#  %li.active
        -#    %a{href: '#port-mappings-tab', 'data-toggle' => 'tab'} Port mappings
        -#  %li
        -#    %a{href: '#configurations-tab', 'data-toggle' => 'tab'} Configurations
        -#  %li
        -#    %a{href: '#templates-tab', 'data-toggle' => 'tab'} Templates
        -#  %li
        -#    %a{href: '#appliances-tab', 'data-toggle' => 'tab'} Appliances
        -#  %li.pull-right
        -#    %button.btn.btn-success.btn-xs
        -#      %i.icon-plus
        -#      Add
        -#
        -#.tab-content
        -#  #port-mappings-tab.tab-pane.active
        -#    = render 'admin/appliance_types/port_mappings'
        -#  #configurations-tab.tab-pane
        -#    = render 'admin/appliance_types/configurations'
        -#  #templates-tab.tab-pane
        -#    = render 'admin/appliance_types/templates'
        -#  #appliances-tab.tab-pane
        -#    = render 'admin/appliance_types/appliances'
