.appliance_types
  .row
    = render 'atmosphere/admin/appliance_types/appliance_types_menu'

    .col-md-9
      #appliance_type

        = render 'atmosphere/admin/appliance_types/view'

        -#= hb 'if isEditing' do
        -#  .edit
        -#    %h4
        -#      Edit Appliance Type
        -#      .pull-right
        -#        %button.btn.btn-success.btn-xs{hb: 'action "doneEditing"'}
        -#          %i.icon-save
        -#          Save
        -#        %button.btn.btn-default.btn-xs{hb: 'action "cancelEditing"'} Cancel
        -#    %hr
        -#    = hb "partial 'appliance_types/edit'"

        %ul.nav.nav-tabs#tabs
          - %w(port-mappings configurations templates appliances).each_with_index do |tab_name, i|
            %li{class: ('active' if i==0)}
              %a(href="##{tab_name}-tab" data-toggle='tab')
                = t "appliance_types.#{tab_name}"

        .tab-content
          #port-mappings-tab.tab-pane.active
            = render 'atmosphere/admin/port_mapping_templates/index'
          #configurations-tab.tab-pane
            = render 'atmosphere/admin/appliance_configuration_templates/index'
          #templates-tab.tab-pane
            = render 'atmosphere/admin/appliance_types/templates'
          #appliances-tab.tab-pane
            = render 'atmosphere/admin/appliance_types/appliances'
