%p.description

%table.table.table-hover
  %thead
    %tr
      %th Id
      %th Name
      %th Site
      %th State
      %th Actions
  %tbody

    - @appliance_type.virtual_machine_templates.def_order.each do |vmt|
      %tr
        %td= vmt.id_at_site
        %td= vmt.name
        %td= vmt.compute_site.name
        %td= vmt.state
        %td
          = link_to admin_virtual_machine_template_path(id: vmt.id, virtual_machine_template: { appliance_type_id: nil }), method: :put,
              class: 'btn btn-danger btn-xs', title: 'Remove this Appliance Type assignment' do
            =fa_icon 'trash-o'

    - unless @appliance_type.virtual_machine_templates.present?
      %tr
        %td(colspan='5')
          .alert.alert-warning No Virtual Machine Templates assigned to this Appliance Type.

    %tr#vmt-assignment-form
      %td(colspan='5')
        - if VirtualMachineTemplate.active.unassigned.count > 0
          %p.description
            Select unassigned Virtual Machine Templates to set them as of this Appliance Type.

            = form_tag assign_virtual_machine_template_admin_appliance_type_path, method: :put do |f|
              = select_tag :virtual_machine_template_id, options_from_collection_for_select(VirtualMachineTemplate.active.unassigned, :id, :name)
              = submit_tag :submit

        - else
          .alert.alert-warning No active, unassigned Virtual Machine Templates, ready to be assigned.
