%h1
  = @appliance_type.name
  %small.text-muted
    by
    = @appliance_type.author_name

  .pull-right
    = link_to edit_admin_appliance_type_path(@appliance_type), class: 'btn btn-success btn-xs', title: 'Edit' do
      = fa_icon 'edit'
      Edit
    %span.btn.btn-danger.btn-xs.appliance-type-delete(title='Delete')
      = fa_icon 'trash-o'
      Delete

    .btn-group.hidden.appliance-type-delete-section

      = link_to admin_appliance_type_path(@appliance_type), method: :delete, class: 'btn btn-danger btn-xs', title: 'Yes, delete it.' do
        = fa_icon 'trash-o'
        Yes

      %span.btn.btn-default.btn-xs.appliance-type-delete-no(title='No, better not.')
        No

  %h5
    - if @appliance_type.visible_to == 'owner'
      %span.label.label-primary Only for owner
    - elsif @appliance_type.visible_to == 'developer'
      %span.label.label-warning Only for developers
    - else
      %span.label.label-success For all
    - if @appliance_type.shared
      %span.label.label-info Shared
    - if @appliance_type.scalable
      %span.label.label-info Scalable
    - if @appliance_type.preference_cpu
      %span.label.label-primary.dynamic-label
        CPU
        = @appliance_type.preference_cpu
    - if @appliance_type.preference_memory
      %span.label.label-primary.dynamic-label
        Memory
        = @appliance_type.preference_memory
        MB
    - if @appliance_type.preference_disk
      %span.label.label-primary.dynamic-label
        Data
        = @appliance_type.preference_disk
        GB

%hr
.description
  = markdown @appliance_type.description

:javascript
  $('.appliance-type-delete').on('click', function() {
    $(this).addClass('hidden');
    $(this).siblings('.appliance-type-delete-section').removeClass('hidden');
  });
  $('.appliance-type-delete-no').on('click', function() {
    var section = $(this).parent('.appliance-type-delete-section');
    section.siblings('.appliance-type-delete').removeClass('hidden');
    section.addClass('hidden');
  });
