%h1
  = @appliance_type.name
  %small.text-muted
    by
    = @appliance_type.author_name

  .pull-right
    -#%button.btn.btn-success.btn-xs{hb: "action 'edit'", title: 'Edit'}
    = link_to edit_admin_appliance_type_path(@appliance_type), class: 'btn btn-success btn-xs', title: 'Edit' do
      =fa_icon 'edit'
      Edit
    = link_to admin_appliance_type_path(@appliance_type), method: :delete, class: 'btn btn-danger btn-xs', title: 'Delete' do
      =fa_icon 'trash-o'
      Delete

  %h5
    - if @appliance_type.visibility == 'published'
      %span.label.label-success Published
    - else
      %span.label.label-warning Unpublished
    - if @appliance_type.shared
      %span.label.label-info Shared
    - if @appliance_type.scalable
      %span.label.label-info Scalable
    - if @appliance_type.preference_cpu
      %span.label.label-primary.dynamic-label
        CPU
        = @appliance_type.preference_cpu
    - if @appliance_type.preference_memory
      %span.label.label-primary.dynamic-label
        Memory
        = @appliance_type.preference_memory
    - if @appliance_type.preference_disk
      %span.label.label-primary.dynamic-label
        Data
        = @appliance_type.preference_disk

%hr
.description
  = markdown @appliance_type.description
