= simple_form_for([:admin, @user_key]) do |f|
  = f.error_notification

  .inputs
    = f.input :name
    = f.input :public_key, {readonly: !@user_key.id.nil?}
    = f.input :user_id, collection: @users

  .actions
    .btn-group
      %button.btn.btn-success{id: "action-button",  type: "submit"}
        =fa_icon 'edit'
        = t('save')
    = link_to t('back'), admin_user_keys_path, class: 'btn btn-default'
