%h1
  = t('user_keys.long_title')

%p
  = link_to new_admin_user_key_path,
    class: 'btn btn-success btn-xs', title: t('user_keys.new') do
    =icon 'plus'
    = t('add_new')

%p
  %table.table.table-hover.table-condensed
    %tr
      %th
        = t('user_keys.name')
      %th
        = t('user_keys.fingerprint')
      %th
        = t('user_keys.owner')
      %th{ style: "text-align: right; min-width: 8rem;" }
        = t('actions')

    - @user_keys.each do |user_key|
      %tr
        %td= user_key.name
        %td{ style: "font-family: monospace;" }
          = user_key.fingerprint
        %td= user_key.user.login
        %td{ style: "text-align: right" }
          .btn-group
            = link_to admin_user_key_path(user_key),
              class: 'btn btn-success btn-xs', title: t('user_keys.show') do
              =icon 'bars'
            = link_to admin_user_key_path(user_key), method: :delete, data: { confirm: t('are_you_sure') },
              class: 'btn btn-danger btn-xs', title: t('user_keys.remove') do
              =icon 'trash-o'
