%p#notice= notice

%p
  %table.show-table
    %tr
      %td= t('user_keys.name')
      %td= @user_key.name
    %tr
      %td= t('user_keys.fingerprint')
      %td.table-cell-monospace= @user_key.fingerprint

%p
  .btn-group
    = link_to admin_user_keys_path,
      class: 'btn btn-default', title: t('back') do
      =icon 'reply'
      = t('back')
