!!! 5
%html{ lang: 'en'}
  = render 'layouts/head'
  %body
    #wrap
      .proper-content
        = render 'layouts/flash'
        = render 'layouts/navbar'
        .container= yield
      #push
    = render "layouts/footer"
