%p#notice= notice

%p
  %table.table.table-hover.table-condensed
    %tr
      %td
        %b
          = t('user_keys.name')
      %td
        = @user_key.name
    %tr
      %td
        %b
          = t('user_keys.fingerprint')
      %td
        = @user_key.fingerprint

= render 'buttons'
