= simple_form_for([:admin, @virtual_machine_template]) do |f|
  = f.error_notification

  .inputs
    = f.association :tenants
    = f.input :id_at_site
    = f.input :name
    = f.input :state

  .actions
    .btn-group
      %button.btn.btn-success{id: "action-button", type: "submit"}
        =icon 'edit'
        = t('save')
    = link_to t('back'), admin_virtual_machine_templates_path, class: 'btn btn-default'
