%h1
  = t('virtual_machine_templates.long_title')

%ul.nav.nav-tabs
  - @vmt_hash.keys.each_with_index do |t, i|
    %li{ class: ('active' if i == 0) }
      %a(href="##{t.tenant_id}-tab" data-toggle='tab')
        = t.name

%p
  .tab-content
    - @vmt_hash.keys.each_with_index do |t, i|
      .tab-pane{ id: "#{t.tenant_id}-tab", class: ("active" if i==0) }
        %table.vmt-table
          %th.uuid= t('virtual_machine_templates.uuid')
          %th= t('virtual_machine_templates.name')
          %th= t('virtual_machine_templates.state')
          %th= t('virtual_machine_templates.managed_by_atmosphere')
          %th= t('virtual_machine_templates.version')
          %th.actions= t('actions')
          - @vmt_hash[t].each do |vmt|
            %tr
              %td.monospace= vmt.id_at_site
              %td= vmt.name
              %td= vmt.state
              %td= vmt.managed_by_atmosphere
              %td= vmt.version
              %td.actions
                .btn-group
                  = link_to admin_virtual_machine_template_path(vmt),
                            class: 'btn btn-success btn-xs',
                            title: t('virtual_machine_templates.show') do
                    =icon 'bars'
                  = link_to edit_admin_virtual_machine_template_path(vmt),
                            class: 'btn btn-warning btn-xs',
                            title: t('virtual_machine_templates.edit') do
                    =icon 'edit'
                  = link_to select_destination_admin_virtual_machine_template_path(vmt),
                            class: 'btn btn-warning btn-xs',
                            title: t('virtual_machine_templates.migrate') do
                    =icon 'copy'
                  = link_to admin_virtual_machine_template_path(vmt),
                            method: :delete,
                            data: { confirm: t('are_you_sure') },
                            class: 'btn btn-danger btn-xs',
                            title: t('virtual_machine_templates.remove') do
                    =icon 'trash-o'
