%h1
  = t('virtual_machine_templates.long_title')

%ul.nav.nav-tabs
  - @virtual_machine_templates.each_with_index do |kv, i|
    - cs = kv.first
    %li{ class: ('active' if i==0) }
      %a(href="##{cs.site_id}-tab" data-toggle='tab')
        = cs.name

%p
  .tab-content
    - @virtual_machine_templates.each_with_index do |kv, i|
      - cs, vmts = kv
      .tab-pane{ id: "#{cs.site_id}-tab", class: ("active" if i==0) }
        %table.vmt-table
          %th.table-cell-uuid= t('virtual_machine_templates.uuid')
          %th= t('virtual_machine_templates.name')
          %th= t('virtual_machine_templates.state')
          %th= t('virtual_machine_templates.managed_by_atmosphere')
          %th= t('virtual_machine_templates.version')
          %th.table-cell-actions= t('actions')
          - vmts.each do |vmt|
            %tr
              %td.table-cell-monospace= vmt.id_at_site
              %td= vmt.name
              %td= vmt.state
              %td= vmt.managed_by_atmosphere
              %td= vmt.version
              %td.table-cell-actions
                .btn-group
                  = link_to admin_virtual_machine_template_path(vmt),
                            class: 'btn btn-success btn-xs',
                            title: t('virtual_machine_templates.show') do
                    =icon 'bars'
                  = link_to edit_admin_virtual_machine_template_path(vmt),
                            class: 'btn btn-warning btn-xs',
                            title: t('virtual_machine_templates.edit') do
                    =icon 'edit'
                  = link_to admin_virtual_machine_template_path(vmt),
                            method: :delete,
                            data: { confirm: t('are_you_sure') },
                            class: 'btn btn-danger btn-xs',
                            title: t('virtual_machine_templates.remove') do
                    =icon 'trash-o'
