%p
  %table.show-table
    %tr
      %td= t('virtual_machine_templates.tenant')
      %td= @virtual_machine_template.tenants.pluck(:name).join(', ')
    %tr
      %td= t('uuid')
      %td.monospace= @virtual_machine_template.id_at_site
    %tr
      %td= t('virtual_machine_templates.name')
      %td= @virtual_machine_template.name
    %tr
      %td= t('virtual_machine_templates.state')
      %td= @virtual_machine_template.state
    %tr
      %td= t('virtual_machine_templates.managed_by_atmosphere')
      %td= @virtual_machine_template.managed_by_atmosphere
    %tr
      %td= t('virtual_machine_templates.version')
      %td= @virtual_machine_template.version

%p
  .btn-group
    = link_to edit_admin_virtual_machine_template_path(@virtual_machine_template),
      class: 'btn btn-warning', title: t('edit') do
      =icon 'bars'
      = t('edit')
    = link_to select_destination_admin_virtual_machine_template_path(@virtual_machine_template),
      class: 'btn btn-warning', title: t('share') do
      =icon 'copy'
      = t('share')
    = link_to admin_virtual_machine_templates_path,
      class: 'btn btn-default', title: t('back') do
      =icon 'reply'
      = t('back')
