%h1= t 'funds.long_title'

%p
  = link_to new_admin_fund_path,
    class: 'btn btn-success btn-xs has_bottom_tooltip',
    title: t('funds.new.help') do
    = icon 'plus'
    = t 'add_new'

  %table.table.table-hover.table-condensed
    %tr
      %th.col-md-2= t 'funds.name'
      %th
        .pull-right= t 'funds.balance'
      %th
      %th
        .pull-right= t 'funds.overdraft_limit'
      %th
      %th.text-center= t 'funds.termination_policy'
      %th.col-md-2
        .pull-right= t 'actions'

    - @funds.each do |fund|
      %tr
        %td(rowspan=3)= fund.name
        %td
          .pull-right= fund_balance_full_precision fund.balance
        %td= fund.currency_label
        %td
          .pull-right= fund_balance_full_precision fund.overdraft_limit
        %td= fund.currency_label
        %td.text-center
          - label_map = { suspend: :primary, no_action: :success, delete: :danger }
          %span{ class: "label label-#{label_map[fund.termination_policy.to_sym]} has_bottom_tooltip",
                 title: t("funds.termination_policies.#{fund.termination_policy}.help") }
            = t "funds.termination_policies.#{fund.termination_policy}.label"
        %td
          .btn-group.pull-right
            = link_to edit_admin_fund_path(fund),
              class: 'btn btn-warning btn-xs has_bottom_tooltip',
              title: t('funds.update.help') do
              = icon 'edit'
            = link_to admin_fund_path(fund),
              method: :delete,
              data: { confirm: t('are_you_sure') },
              class: 'btn btn-danger btn-xs has_bottom_tooltip',
              title: t('funds.destroy.help') do
              = icon 'trash-o'


      %tr
        %td(colspan=5)
          = succeed ':' do
            %strong= t 'compute_sites.title'
          - if fund.compute_site_funds.present?
            - fund.compute_site_funds.each do |compute_site_fund|
              .btn-group
                %span.btn.btn-default.btn-xs.disabled.non-opaque
                  = compute_site_fund.compute_site.name
                = link_to admin_compute_site_fund_path(compute_site_fund),
                  method: :delete,
                  data: { confirm: t('are_you_sure') },
                  class: 'btn btn-default btn-xs has_bottom_tooltip',
                  title: t('funds.remove_site.help',
                  cs: compute_site_fund.compute_site.name) do
                  = icon 'times'
          - else
            %i.text-muted
              = surround '(',')' do
                = t 'funds.no_sites'
        %td
          - if fund.unsupported_compute_sites.present?
            = simple_form_for([:admin, Atmosphere::ComputeSiteFund.new(fund: fund)]) do |f|
              = f.association :fund, as: :hidden
              = f.association :compute_site,
                collection: fund.unsupported_compute_sites,
                prompt: t('funds.add_site.prompt'),
                input_html: { class: 'form-control tiny-select has_bottom_tooltip self-submit',
                  title: t('funds.add_site.help') },
                wrapper_html: { class: 'tiny-select-wrapper' },
                label: false
          - else
            %i.text-muted.pull-right
              = surround '(',')' do
                = t 'funds.add_site.all_assigned'


      %tr
        %td(colspan=5)
          = succeed ':' do
            %strong= t 'users.title'
          - if fund.users.present?
            = render partial: 'user_fund', collection: fund.user_funds
          - else
            %i.text-muted
              = surround '(',')' do
                = t 'funds.no_users'
        %td
          - if fund.unassigned_users.present?
            = simple_form_for([:admin, Atmosphere::UserFund.new(fund: fund)]) do |f|
              = f.association :fund, as: :hidden
              = f.association :user,
                collection: fund.unassigned_users,
                label_method: :descriptive_name,
                prompt: t('funds.add_user.prompt'),
                input_html: { class: 'form-control tiny-select has_bottom_tooltip self-submit',
                  title: t('funds.add_user.help') },
                wrapper_html: { class: 'tiny-select-wrapper' },
                label: false
          - else
            %i.text-muted.pull-right
              = surround '(',')' do
                = t 'funds.add_user.all_assigned'


%hr

%h5#billing-chart-spinner.text-muted
  %em= t 'billing.loading'
  .inline-spinner

#billing


:javascript
  $('body').on('change', '.self-submit', function() {
    this.form.submit();
  });

  $(function() {
    $.get('#{admin_billing_logs_path}', function(data) {
      $('#billing').html(data);
    });
  });

  $('body').
    on('ajax:beforeSend', '[data-billing=on]', function(evt, data, status, xhr){
      $('#billing-chart-spinner').show();
    }).
    on('ajax:success', '[data-billing=on]', function(evt, data, status, xhr){
      $('#billing').html(data);
    });
