%header.navbar.navbar-fixed-top.navbar-default
  .container
    = link_to t('code_name'), root_path, class: 'navbar-brand'

    %ul.nav.navbar-nav
      - if current_user.has_role? :admin
        - [ApplianceType, ComputeSite, VirtualMachine, VirtualMachineTemplate, UserKey, SecurityProxy, SecurityPolicy].each do |model|
          - tab_name = model.name.tableize
          = nav_link controller: tab_name.to_sym do
            = link_to t("#{tab_name}.title"), [:admin, model], class: "has_bottom_tooltip", title: t("#{tab_name}.long_title")
        = nav_link controller: :jobs do
          = link_to 'Jobs', jobs_path, class: "has_bottom_tooltip", title: 'Background jobs'

    %ul.nav.navbar-nav.pull-right
      %li
        %a
          %div.hide.turbolink-spinner
            %i.icon-refresh.icon-spin
            = t 'loading'
      - if user_signed_in?
        = nav_link controller: :help do
          = link_to help_path, class: "has_bottom_tooltip", title: t('help.title') do
            %i.icon-question
        = nav_link controller: :profiles do
          = link_to profile_path, class: "has_bottom_tooltip avatar", title: t('profiles.title') do
            = image_tag current_user.gravatar_url(:size => 26)
        %li
          = link_to destroy_user_session_path, class: "has_bottom_tooltip", title: t('logout'), method: :delete do
            %i.icon-signout
