%header.navbar.navbar-fixed-top.navbar-default
  .container
    = link_to t('code_name'), root_path, class: 'navbar-brand'

    %ul.nav.navbar-nav
      - if current_user.has_role? :admin
        -# [ApplianceType, ApplianceSet, ComputeSite, VirtualMachine, VirtualMachineTemplate, UserKey, SecurityProxy, SecurityPolicy].each do |model|
        - [ApplianceType, ComputeSite, VirtualMachine, VirtualMachineTemplate, UserKey, SecurityProxy, SecurityPolicy].each do |model|
          = nav_link controller: model.name.tableize.to_sym do
            = link_to model.model_name.human, [:admin, model]

    %ul.nav.navbar-nav.pull-right
      %li
        %a
          %div.hide.turbolink-spinner
            %i.icon-refresh.icon-spin
            = t 'loading'
      - if user_signed_in?
        = nav_link controller: :help do
          = link_to help_path, class: "has_bottom_tooltip", title: t('help.title') do
            %i.icon-question
        %li
          = link_to destroy_user_session_path, class: "has_bottom_tooltip", title: t('logout'), method: :delete do
            %i.icon-signout